<h1>Editing offering</h1>

<%= form_for(@offering) do |f| %>
    <% if @offering.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@offering.errors.count, "error") %> prohibited this offering from being saved:</h2>

        <ul>
        <% @offering.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

	<%= render :partial => 'form',  :locals => { :offering => @offering }  %>
	<fieldset>
    	<%= f.submit "Update" %>
		<%= link_to 'Show', @offering %> |
		<%= link_to 'Back', offerings_path %>
  	</fieldset>
<% end %>