<div class="container">
  <div class="row">
  	<div class="span6">
			<section id="get-started" class="pad-top black-box">
				<div class="title">
					<h2>Welcome</h2>
				</div>
				<div class="content">
					Findagrapher is a free service that helps you find photographers of your choice. Tell us your photo shoot needs and we’ll help you find a list of photographers you might be interested in. If you are not too specific, feel free to browse our photographers catalog.
					<br/><br/>
          <%= link_to "Get started", new_shoot_path, :class => "btn btn-success" %>
					<br/><br/>
					You don’t need to register to find a photographer.
				</div>
			</section>
		</div>
	</div>
</div>

<div class="hide">
  <% if @user %>
  		<a href='/auth/facebook' class="fb_button fb_button_medium" id="login">
        <span class="fb_button_text">Log In</span>
      </a>
      <a href='/auth/facebook' class="fb_button fb_button_medium" id="logout">
        <span class="fb_button_text">Logout</span>
      </a>
      <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
      <div>
        <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
        <p class="tagline">
          This is your app
          <a href="<%= @app['@app'] %>"><%= @app['name'] %></a>
        </p>
        <form>
        	http://facecbook.com/
        	<input type="text" name="facebook_page_url" />
        	<input type="submit" value="Fetch" />
        </form>
        <hr/>
        <h1><%= @page_url %></h1>
        <ul>
        	<%
        		@pictures.each_with_index do |p|
        	%>
        			<%= image_tag p['src'] %>
        	<%
        		end
        	%>
        </ul>
      </div>
  <% else %>
    <div>
      <h1>Welcome</h1>
        <a href='/auth/facebook' class="fb_button fb_button_medium" id="login">
          <span class="fb_button_text">Log In</span>
        </a>
        <a href='/auth/facebook' class="fb_button fb_button_medium" id="logout">
	        <span class="fb_button_text">Logout</span>
	      </a>
    </div>
  <% end %>
</div>