<div class="container">
  <div class="row">
    <div class="span12">
      <div class="white-box pad-top" id="profile">
        <div class="title">
          <h2> <%= @photographer.name %></h2>
        </div>
        <div class="content clearfix">
          <div class="profile-pic">
            <%= image_tag "/assets/default-profile-pic.jpg" %>
          </div>
          <div class="profile-info">
            <div class="form">
              
              <div class="row">
                <div class="f-name span2">Shoots:</div>
                <div class="f-content span6">
                  <% @photographer.event_types.each_with_index do |e|  %>
                  <%= "#{e.event}, " %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="f-name span2">Offers:</div>
                <div class="f-content span6">
                  <% @photographer.offerings.each_with_index do |o|  %>
                  <%= "#{o.offering}, " %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="f-name span2">Provides:</div>
                <div class="f-content span6">
                  <% @photographer.services.each_with_index do |s|  %>
                  <%= "#{s.service}, " %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="f-name span2">Location:</div>
                <div class="f-content span6"><%= @photographer.place %></div>
              </div>

              <div class="row">
                <div class="f-name span2">Contact:</div>
                <div class="f-content span6"><%= @photographer.email %></div>
              </div>

              <div class="row">
                <div class="f-name span2">Portfolio:</div>
                <div class="f-content span6">
                  <strong>
                    <a href=<%= @photographer.portfolio %> target="_blank"><%= @photographer.portfolio %></a> <i class="icon-share-alt"></i>
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="black-box pad-top">
        <div class="title">
          <h2>Recent shots</h2>
        </div>
        <div class="content" id="portfolio-pictures">
          <div class="pictures">
            Loading pictures from portfolio...
          </div>
          <div class="load clearfix">
            <a href="javascript: void(0);" class="btn load-more hide">Load more</a>
          </div>
        </div>
    </div>
  </div>
</div>

<script>

  $(function(){

    var loadMore = $('#portfolio-pictures .load-more'),
        pictureContainer = $('#portfolio-pictures .pictures'),
        pageSize = 15;

    pictureContainer.masonry({
      itemSelector: 'img'
    });

    loadMore.click(function(){
      var from = pictureContainer.find('img').length,
          to = from + pageSize - 1;

      loadMore.hide();
      $.ajax({
        url: '<%= photographers_photos_path(@photographer) %>',
        data: {
          from: from,
          to: to
        },
        success: function(r){
          var el = pictureContainer;
          var imagesPresent = el.find('img').length;
          if(imagesPresent){
            el.append(r);
          } else {
            el.html(r);
          }
          el.find('img').each(function(){
            $(this).load(function(){
              var el = $(this);
              setTimeout(function(){
                pictureContainer.masonry('reload');
              }, 10);
            });
          });
        },
        complete: function(){
          loadMore.show();
        }
      });
    }).click();

  })

</script>